@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 100vh;
 margin: 0;
 padding: 0;
}

/* header */
.header{
    background-color: #1F2937;
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar p{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
.header-content{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.header-text{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-right: 25px;
}

.header-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-top: 10px;
    margin: 0;
}
.header-sub-text{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.header-button{
    background-color: #3882F6;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    color: #E5E7EB;
}
/* header */

/* content-one */
.content-one{
    display: flex;
    padding: 100px;
    flex-direction: column;
    align-items: center;
}
.container-one{
    display: flex;
    gap: 75px;
}
.images{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.subtext{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
    width: 0;
    min-width: 100%;
}

.info-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.images-with-subtext{
    display: inline-block
}
/* content-one */

/* content-two */
.content-two{
    background-color: #E5E7EB;
    padding: 70px;
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: large;
}
.quote p{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
/* content-two */

/* content-three */
.content-three{
    padding: 80px;
    display: flex;
    justify-content: center;
}

.call-to-action{
    display: flex;
    padding: 20px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-around;
    width: 800px;
    height: 80px;
    align-items: center;
}
.text3{
   margin: 2px;
}
.main-text3{
    font-weight: bold;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}
.subtext3{
 color: #E5E7EB;
 font-family: Arial, Helvetica, sans-serif;
}
.content-three-button{
    border-radius: 10px;
    height: 35px;
    width: 100px;
    border-color: white;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
}
/* content-three */

/* footer */
.footer{
    background-color: #1F2937;
    padding: 12px;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
}
/* footer */
