body{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 100vh;
 margin: 0;
 padding: 0;
}

/* header */
.header{
    background-color: #1F2937;
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar p{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
.header-content{
    display: flex;
    justify-content: center;
}

.header-text{
    display: flex;
    flex-direction: column;
    gap: -18px;
    margin-right: 25px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-button{
    background-color: #3882F6;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    color: #E5E7EB;
}
/* header */

/* content-one */
.content-one{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 100px;
}

.images-with-subtext{
 display: flex;
 justify-content: center;
}

.images-with.subtext, .images{

 display: block;
}
/* content-one */

/* content-two */
.content-two{
    background-color: #E5E7EB;
    padding: 80px;
}
/* content-two */

/* content-three */
.content-three{
    padding: 50px;
}
/* content-three */

/* footer */
.footer{
    background-color: #1F2937;
    padding: 12px;
}
/* footer */
